<script defer src="/_vercel/insights/script.js"></script>
<script defer src="/_vercel/insights/script.js"></script>
<script defer src="/_vercel/insights/script.js"></script>

<style>
    .dark {
        --theme: #1b1b18 !important;
        /* Fondo Verano */
        --entry: #242420 !important;
        /* Tarjetas */
        --primary: #e6db74 !important;
        /* Títulos */
        --content: #e0e0e0 !important;
        /* Texto */
    }

    body.dark {
        background-color: var(--theme) !important;
    }
</style>